
    <!-- FontAwesome JS-->
    <div class="view jarallax" data-jarallax='{"speed": 0.1}'
        style="background-image: 
       url();">
https://cdn3.vectorstock.com/i/1000x1000/96/77/world-map-background-earth-map-design-vector-23059677.jpg

        <div class="container m-12 p-4">

            <div class="row">
                <div class="col-12 col-md-11 col-lg-7 col-xl-6 mx-auto">
                    <div class="app-branding text-center">

                        <a class="logo-text">Reach out to the world...</a>

                    </div>

                    <div class="app-card p-1 mb-4 shadow-sm">
                        <h1 class="page-title mb-1  text-center">Create Campaign</h1>



                        <form [formGroup]="createForm" (ngSubmit)="createCampaign()">

                            <div class="form-group  mb-4">
                                <label class="text-left">campaign Name</label>
                                <input type="text" formControlName="campaignName" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.campaignName.errors }" />
                                <div *ngIf="submitted && f.campaignName.errors" class="invalid-feedback">
                                    <div *ngIf="f.campaignName.errors.required">campaign Name is required</div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label>campaign Coverage</label>
                                <input type="text" formControlName="campaignCoverage" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.campaignCoverage.errors }" />
                                <div *ngIf="submitted && f.campaignCoverage.errors" class="invalid-feedback">
                                    <div *ngIf="f.campaignCoverage.errors.required">campaign Coverage are required</div>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <label> campaignPrice</label>
                                <input type="number" class="form-control" formControlName="campaignPrice"
                                    id="campaignPrice" required />

                            </div>

                            <div class="  text-center">
                                <button class="btn btn-primary  mb-1">Create</button>
                            </div>

                            <div class="p-2">

                                Active campaings? <a routerLink="/campaign/view"> View</a>
        
        
                            </div>

                        </form>
                    </div>
                   
                </div>



            </div>
            <!--//col-->
        </div>
        <!--//row-->
    </div>
    <!--//container-->


   <!-- Footer -->
   <footer class="text-center text-lg-start text-muted">
                    
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright: squarepyramid limited
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
