<body class=" bg-gradient-primary">
    <div class="container">
        <div class="row">
            <div >
                <div class="app-branding text-center">

                    <a class="logo-text ">SquareCampaign makes you popular...</a>

                </div>

                <div >



                    <div class="app-card p-1">


                        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="loginUser1()">
                            <div class="form-group mb-4">
                                <label>Username</label>
                                <input type="text" class="form-control" formControlName="userName"
                                    placeholder="Enter Username" required>
                            </div>




                            <div class="form-group mb-1">
                                <label>Password</label>
                                <input type="password" class="form-control" formControlName="password"
                                    placeholder="Password">
                            </div>


                            <div class="pt-4 text-center">
                                <button type="submit" class="btn app-btn-primary" id="btnLogin">Login</button>



                            </div>

                        </form>






                        <div class="p-2">
                             <br /> New Here? <a routerLink="/register"> Create New Account?</a>
                            <br /> Forgot Password? <a href="forgot.html"> Reset Password</a>
                        </div>
                    </div>

                </div>



            </div>
            <!--//col-->
        </div>
        <!--//row-->
    </div>
    <!--//container-->

</body>